@page "/"
@using MqttBlazor.Client

<PageTitle>Home</PageTitle>

<h1>Home</h1>


@code {
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        // await MqttClientBuilder.ConnectClientUsingWebSockets();
        await ClientSubscribe.HandleReceivedApplicationMessage();
    }

   
}
